.dashboard-section {
    width: 100%;
    background-color: #fff;
    padding: 100px 0;
    position: relative;
}

.dashboard-right-circle {
    position: absolute;
    right: 0;
    top: 20%;
    height: 300px;
}

.dashboard-middle-circle {
    position: absolute;
    right: 20%;
    bottom: 10%;
    height: 250px;
}

.dashboard-content {
    position: relative;
}

.dashboard-content .section-sub-headline-dark {
    margin-top: 20px;
    margin-bottom: 30px;
}

.dashboard-preview {
    width: 100%;
}

.dashboard-left-circle {
    display: none;
}

@media (max-width: 500px) {
    .dashboard-left-circle {
        display: block;
        position: absolute;
        bottom: 20px;
        right: auto;
        left: 0;
        height: 100px;
    }
    .dashboard-right-circle, 
    .dashboard-middle-circle {
        display: none;
    }
}