.benefits-section {
    width: 100%;
}

.benefits-circle {
    position: absolute;
    height: 220px;
    top: 10%;
    left: 10%;
}
    
.benefits-content {
    padding: 100px 0;
    background-color: #f26a21e6;
}

.benefits-content .section-headline-light {
    margin-bottom: 70px;
}

.benefits-video {
    width: 100%;
    height: fit-content;
    position: relative;
    padding-right: 20px;
}

.benefits-thumbnail {
    width: 100%;
    height: auto;
    filter: brightness(65%);
    border-radius: 10px;
}

.benefits-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110px;
    cursor: pointer;
}

.benefits-card {
    padding-right: 20px;
}

.benefits-card h5 {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
    color: #fff;
}

.benefits-card p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
    color: #fff;
}

.benefits-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    color: #fff;
}

.benefits-items-headline {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.benefits-item {
    width: 20%;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    padding-right: 10px;
}

.benefit-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #148820;
    margin-right: 10px;
    margin-top: 10px;
}

.benefits-item span {
    font-size: 20px;
    line-height: 32px;
    flex: 1;
}

@media (max-width: 991px) {
    .benefits-item {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .benefits-content .section-headline-light {
        margin-bottom: 30px;
    }
    .benefits-video {
        padding: 20px 30px;
    }
    .benefits-circle {
        height: 100px;
        top: 15%;
        left: 5%;
    }
    .benefits-card h5 {
        font-size: 20px;
        line-height: 30px;
    }
    .benefits-card p {
        font-size: 14px;
        line-height: 24px;
    }
}